body {
  margin: 0;
  position: absolute;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1349px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 0.5rem;
}
.col {
  flex: 1 1 0;
}
.col-1 {
  flex: 0 0 8.333333%;
}
.col-2 {
  flex: 0 0 16.666666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
}
.col-5 {
  flex: 0 0 41.666666%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
}
.navbar {
  margin: 1rem;
  display: flex;
  font-family: "Inter", sans-serif;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
}
.navbar button {
  display: block;
}
.btn-1 {
  border: none;
  margin-right: 3rem;
  color: #0070a0;
  background-color: white;
  font-size: 15px;
}
.btn-2 {
  color: white;
  background-color: #0070a0;
  border: none;
  padding: 15px;
}
.meta {
  font-family: "Fraunces", serif;
  margin: 3rem;
}
.meta h1 {
  font-size: 58px;
  line-height: 64px;
  font-weight: 400;
}
.meta p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.companies {
  text-align: center;
  margin: 8rem;
}
.companies h2 {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 37.5px;
}
.companies img {
  margin-right: 2.5rem;
}
.img-cards {
  margin: 5rem;
}
.img-cards img {
  margin-left: 2rem;
}
.inform {
  margin: 4rem;
  background-color: #f7f9fa;
}
.inform h1 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 42px;
}
.inform img {
  text-align: center;
}
.about {
  align-items: center;
  margin: 0 auto;
  font-family: "Fraunces", serif;
}
.about h1 {
  font-size: 41px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}
.about h4 {
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
}
.about p {
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-size: 15px;
}
section {
  background-color: #0070a0;
  padding: 80px;
  color: white;
}
.reminder h1 {
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  font-family: "Fraunces", serif;
}
.reminder p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}
.reminder li {
  font-weight: 400;
  line-height: 22px;
  font-family: "Inter", sans-serif;
}
.automated {
  margin: 2rem;
}
.text h1 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 50.4px;
  margin: 1rem 0;
}
.text p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 27px;
}
.automated h3 {
  font-weight: 400;
  font-family: "Fraunces", serif;
  font-size: 25px;
  line-height: 32px;
}
.automated img {
  margin: 0.5rem 0;
}
.automated p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
.blog {
  background-color: #f7f9fa;
}
.blog2 {
  margin: 3rem 5rem;
}
.blog2 h1 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
}
.blog2 a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  line-height: 27px;
  font-size: 17px;
  color: #0070a0;
}
.card {
  border: 1px solid transparent;
  width: 356px;
  background-color: white;
}
.card button,
h2,
p,
h5 {
  padding-left: 26px;
}
.card button {
  background-color: #e6f7ff;
  color: #2c90c9;
  border: none;
  padding: 0 10px;
  margin: 1rem;
}
.card h2 {
  font-weight: 400;
  font-family: "Fraunces", serif;
  font-size: 25px;
  line-height: 32px;
}
.card p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.card h5 {
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.card3 {
  background-color: #e6f7ff;
  margin: 3rem 5rem 6rem 2rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.card3 h1{
  font-weight: 400;
  font-family: "Fraunces", serif;
  font-size: 42px;
  line-height: 50.4px;
}
.card3 p{
  font-family: "Inter", sans-serif;
  
}