body {
  margin: 0;
  position: absolute;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1349px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 0.5rem;
}
.col {
  flex: 1 1 0;
}
.col-1 {
  flex: 0 0 8.333333%;
}
.col-2 {
  flex: 0 0 16.666666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
}
.col-5 {
  flex: 0 0 41.666666%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
}
.navbar {
  margin: 1rem;
  display: flex;
  font-family: "Inter", sans-serif;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
}
.navbar button {
  display: block;
}
.btn-1 {
  border: none;
  margin-right: 3rem;
  color: #0070a0;
  background-color: white;
  font-size: 15px;
}
.btn-2 {
  color: white;
  background-color: #0070a0;
  border: none;
  padding: 15px;
}
.meta {
  font-family: "Fraunces", serif;
  margin: 3rem;
}
.meta h1 {
  font-size: 58px;
  line-height: 64px;
  font-weight: 400;
}
.meta p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.companies {
  text-align: center;
  margin: 8rem ;
}
.companies h2{ 
  font-weight: 400;
  font-family: "Inter", sans-serif; 
  line-height: 37.5px;
}
.companies img {
  margin-right: 2.5rem;
}
.img-cards{
  margin: 5rem;
}
.img-cards img{
  margin-left: 2rem;
}
.inform{
  margin: 4rem;
  background-color: #F7F9FA;
}
.inform h1{
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 42px;
}
.inform img{
  text-align: center;
}
.about{
  align-items: center;
  margin: 0 auto; 
  font-family: "Fraunces", serif;
}
.about h1{ 
  font-size: 41px;
  font-weight: 400;
  line-height: 50px;
  text-align: center; 
}
.about h4{
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
}
.about p{
  font-family: "Inter", sans-serif; 
  line-height: 24px;
  font-size: 15px;
}
section{
  background-color:#0070A0;
  padding: 80px;
  color: white;
}
.reminder h1{
  font-weight: 400;
}